# Datasets
dataset/
*.zip

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# Outputs
outputs/

# Temp files
inspect_model.py
